<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
  <span>Calendar with defaults: {{ defaultsDate }}</span>
  <app-mdrx-calendar [(date)]="defaultsDate"></app-mdrx-calendar>
</div>
<div style="padding-left: 66%;">
    <span>Calendar test fly left: {{ flyLeftDate }}</span>
    <app-mdrx-calendar [(date)]="flyLeftDate"></app-mdrx-calendar>
</div>
<div>
    <span>Calendar No Calendar On Focus: {{ noCalFocusDate }}</span>
    <app-mdrx-calendar [(date)]="noCalFocusDate" [calendarOnFocus]="false"></app-mdrx-calendar>
</div>
<div>
    <span>Calendar Set defaultTodayInvalid = true: {{ invalidTestDate }}</span>
    <app-mdrx-calendar [(date)]="invalidTestDate" [calendarOnFocus]="false" [defaultTodayInvalid]="true" ></app-mdrx-calendar>
</div>
<div>
    <span>Calendar Test preset date: {{ presetTestDate }}</span>
    <app-mdrx-calendar [(date)]="presetTestDate" [calendarOnFocus]="false" [defaultTodayInvalid]="false" ></app-mdrx-calendar>
</div>
<div>
    <span>Calendar Test return date as string: {{ stringTestDate }}</span>
    <app-mdrx-calendar [(date)]="stringTestDate" [calendarOnFocus]="false" [defaultTodayInvalid]="true" [returnFormat]="'M/d/yyyy'" ></app-mdrx-calendar>
</div>